* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
  }
  
  a {
    text-decoration: none;
  }
  
  p {
    opacity: 0.7;
    font-size: 20px;
    margin: 10px;
  }
  
  header {
    height: 65px;
    width: 100%;
    background-color: rgba(34,49,52,0.9);
    position :fixed;
    top: 0;
    z-index: 10;
  }
  
  .lesson-wrapper {
    height: auto;
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
  }

  .resultBox {
    width: auto;                /* 横幅を200pxに指定 */
    height: 300px;               /* 横幅を200pxに指定 */
    border: 1px solid #bcbcbc;      /* わかりやすくボーダーを引く */
    overflow-y: scroll;          /* 縦方向にスクロール可能にする */
  }

  .resultContainer {
    display: flex;
    gap: 20px; /* 隙間を空ける（お好みで） */
  }
  
  .resultBlock {
    flex: 1; /* 均等に横幅を割り当てる */
  }

  .result {
    font-size: 0.8rem;
  }
